@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.window-app.newedo.actor.sheet .window-content {
  padding: 0;
  background-image: none;
  color: white;
  background-color: #434343;
}
.window-app.newedo.actor.sheet .sheet-body {
  background-color: #333;
}

.rollable:hover, .rollable:focus {
  text-shadow: 0 0 10px hotpink;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.newedo {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Newedo (can be removed if not needed) */
}
.newedo .item-form {
  font-family: "Roboto", sans-serif;
}
.newedo .sheet-tabs {
  flex: 0;
}
.newedo .sheet-body,
.newedo .sheet-body .tab,
.newedo .sheet-body .tab .editor {
  height: 100%;
}
.newedo .tox .tox-editor-container {
  background: #fff;
}
.newedo .tox .tox-edit-area {
  padding: 0 8px;
}
.newedo .resource-label {
  font-weight: bold;
}
.newedo .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.newedo .items-header > * {
  font-size: 14px;
  text-align: center;
}
.newedo .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.newedo .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.newedo .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.newedo .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.newedo .items-list .item-name h3, .newedo .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.newedo .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.newedo .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.newedo .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.newedo .items-list .item:last-child {
  border-bottom: none;
}
.newedo .items-list .item .item-name {
  color: #191813;
}
.newedo .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.newedo .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.newedo .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.newedo .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.newedo .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.newedo .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.newedo .effects .item .effect-source,
.newedo .effects .item .effect-duration,
.newedo .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.newedo .effects .item .effect-controls {
  border: none;
}
.newedo .sheet-tabs .item.active {
  background-color: #333;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #bbb;
  border-bottom: 1px none #bbb;
}
.newedo .sheet-tabs .item {
  border-radius: 0px;
  border: 1px none #bbb;
  border-bottom: 1px solid #bbb;
}
.newedo .sheet-header {
  flex: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}
.newedo .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  border-bottom: 0;
}
.newedo .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: bold;
}
.newedo .sheet-header .portrait {
  align-items: center;
  max-width: 150px;
  margin-right: 10px;
}
.newedo .sheet-header .portrait .profile-img {
  flex: 0 0 150px;
  margin-right: 10px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  width: 150px;
}
.newedo .sheet-header .portrait .hp-bar {
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}
.newedo .sheet-header .portrait .hp-bar input {
  border: none;
  background-color: transparent;
}
.newedo .sheet-header .portrait .hp-bar .fill {
  background-color: #55cb53;
}
.newedo .sheet-header .background {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newedo .sheet-header .background input {
  border: 0;
  color: white;
  background-color: transparent;
  font-size: 14px;
  height: 16px;
  padding: 0;
}
.newedo .sheet-header .list-derived {
  display: inline;
  margin-right: 5px;
}
.newedo .border-rounded {
  border-radius: 5px;
  border: 2px groove gray;
}
.newedo .barrier-gray {
  background-color: rgb(168, 168, 168);
}
.newedo .fate-roll {
  font-size: 14px;
}
.newedo .fate-roll:hover, .newedo .fate-roll:focus {
  color: black;
  text-shadow: 0 0 10px hotpink;
  cursor: pointer;
}
.newedo input {
  color: white;
}
.newedo input::-moz-placeholder {
  color: lightgray;
}
.newedo input::placeholder {
  color: lightgray;
}
.newedo .sheet-body .tab.fates {
  padding: 20px;
}
.newedo .sheet-body .tab.fates .fate-new {
  background-image: url(../assets/images/icon-check-mark.svg);
  width: 40px;
  height: 40px;
}
.newedo .sheet-body .tab.fates .fate-delete {
  background-image: url(../assets/images/icon-trashcan.svg);
  width: 26px;
  height: 26px;
}
.newedo .sheet-body .tab.fates .fate-range {
  display: grid;
  grid-template-columns: 40px 40px 20px 40px;
  gap: 4px;
  align-items: center;
  text-align: center;
}
.newedo .sheet-body .tab.fates .fate-container {
  min-height: 200px;
  max-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #434343;
  border-radius: 15px;
}
.newedo .sheet-body .tab.fates .fate-container .fate-header {
  display: grid;
  grid-template-columns: 1fr 26px;
}
.newedo .sheet-body .tab.fates .fate-container .fate-header .title {
  border: 0;
  font-size: 18px;
  height: 26px;
  background-color: transparent;
  font-weight: bold;
  color: white;
}
.newedo .sheet-body .tab.fates .fate-container .fate-header input {
  color: white;
  border: 0;
}
.newedo .sheet-body .tab.skills {
  padding: 20px;
}
.newedo .sheet-body .tab.skills .content {
  display: grid;
  gap: 2px;
  grid-auto-flow: column;
  grid-template-rows: repeat(19, 1fr);
}
.newedo .sheet-body .tab.skills .content .skill-wrapper {
  display: grid;
  gap: 2px;
  grid-template-columns: 120px repeat(5, 30px);
  font-size: 14px;
  align-items: center;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
.newedo .sheet-body .tab.skills .content .skill-wrapper .title {
  text-align: right;
  border-right: 1px solid gray;
  padding-right: 4px;
}
.newedo .sheet-body .tab.skills .content .skilldice {
  height: 25px;
  margin-left: 2px;
  padding: 0px;
  line-height: 0px;
  text-align: center;
  background-color: #434343;
  border: 0;
  border-radius: 3px;
}
.newedo .sheet-body .tab.traits {
  padding: 20px;
}
.newedo .container-trait-core {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.newedo .container-trait-core div {
  border-bottom: 1px solid gray;
}
.newedo .container-trait-core div .barrier {
  border: 0;
  margin-left: 10px;
  background-color: rgb(168, 168, 168);
  height: 1px;
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
}
.newedo .container-trait-core div input {
  font-size: 20px;
  border: 0;
  background-color: transparent;
  margin: 5px 0px 5px 0px;
}
.newedo .container-trait-core div span {
  font-size: 12px;
  border: 0;
}
.newedo .container-trait-derived {
  min-height: 65px;
  max-height: 65px;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.newedo .container-trait-derived span {
  border: 0;
  border-right: 1px solid gray;
}
.newedo .container-trait-derived span div {
  border: 0;
}
.newedo .container-trait-derived span div .name {
  font-size: 12px;
}
.newedo .container-trait-derived span div .score {
  font-size: 18px;
}
.newedo .container-trait-derived span div .wrap-mod {
  padding-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid gray;
  font-size: 12px;
}
.newedo .container-trait-derived span div .wrap-mod input {
  font-size: 16px;
  height: 18px;
  padding: 0px;
  margin: 0px;
  margin-left: 2px;
  min-width: 0px;
}
.newedo .container-armour {
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.newedo .container-armour span {
  flex-direction: column;
  border-right: 1px solid gray;
}
.newedo .container-armour span div {
  border: 0;
}
.newedo .container-armour span div div {
  font-size: 12px;
}
.newedo .container-armour span div input {
  font-size: 18px;
  height: 18px;
  border: 0;
  background-color: transparent;
}
.newedo .sheet-body .tab.bio .tab-wrapper {
  padding: 10px;
  display: grid;
  grid-template-areas: "details details" "personality description" "ambition history" "ideals history" "fears history";
  gap: 10px;
}
.newedo .sheet-body .tab.bio .container {
  background-color: #434343;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.newedo .sheet-body .tab.bio .container textarea {
  border: 0;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.newedo .sheet-body .tab.bio .container input {
  border: 0;
  color: white;
  text-align: left;
  background-color: transparent;
  padding: 0;
}
.newedo .sheet-body .tab.bio .container .label {
  font-weight: bold;
}
.newedo .sheet-body .tab.bio .container .barrier {
  height: 1px;
  width: 100%;
  background-color: white;
}
.newedo .sheet-body .tab.bio .details {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}
.newedo .sheet-body .tab.bio .details div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newedo .sheet-body .tab.bio .details div span {
  text-align: right;
}
.newedo .sheet-body .tab.bio .details input {
  margin-left: 4px;
  text-align: left;
  font-size: 15px;
  height: 17px;
  border: 0;
  background-color: transparent;
  color: white;
}
.newedo .sheet-body .tab.bio .details input:hover, .newedo .sheet-body .tab.bio .details input:focus {
  border: 1px solid hotpink;
}
.newedo .sheet-body .tab.bio .personality {
  grid-area: personality;
}
.newedo .sheet-body .tab.bio .description {
  grid-area: description;
}
.newedo .sheet-body .tab.bio .ambition {
  grid-area: ambition;
}
.newedo .sheet-body .tab.bio .ideals {
  grid-area: ideals;
}
.newedo .sheet-body .tab.bio .fears {
  grid-area: fears;
}
.newedo .sheet-body .tab.bio .history {
  grid-area: history;
}/*# sourceMappingURL=newedo.css.map */