@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.theme-light {
  --colour-nav: var(--color-dark-3);
  --colour-nav-active: var(--color-dark-1);
  --colour-bar-bg: var(--color-cool-5-75);
  --colour-bar-input: var(--color-light-2);
}

.theme-dark {
  --colour-nav: var(--color-light-3);
  --colour-nav-active: var(--color-light-1);
  --colour-bar-bg: var(--color-dark-1);
  --colour-bar-input: var(--color-light-3);
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

[data-action]:hover,
[data-action]:focus {
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexshrink {
  flex: 0;
}

.flex {
  flex: 1;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-align-end {
  align-items: flex-end;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.sheet.actor .tab[data-tab].active,
.sheet.item .tab[data-tab].active {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sheet.actor .window-content,
.sheet.item .window-content {
  padding: 0;
}
.sheet.actor input[type=button],
.sheet.item input[type=button] {
  background-color: var(--input-background-color);
  border: 0;
  border-radius: 2px;
  margin-left: 2px;
  color: var(--input-text-color);
}

.item-form {
  font-family: "Roboto", sans-serif;
}

.application nav.tabs .item {
  color: var(--colour-nav);
}
.application nav.tabs .item.active {
  color: var(--colour-nav-active);
}

.resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
ol.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
ol.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.items-list .item-name {
  flex: 1;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
ol.items-list .item-name h3,
ol.items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
ol.items-list .item-controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
ol.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
ol.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
ol.items-list .item:last-child {
  border-bottom: none;
}
ol.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
ol.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
ol.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  border: 2px groove #eeede0;
  font-weight: bold;
}
ol.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
ol.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
ol.items-list .item-delete {
  flex: 0 0 24px;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.group-details {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.group-details input[type=checkbox] {
  flex: 0;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.banner-newedo {
  border: 0;
}

.sheet.character .window-content,
.sheet.npc .window-content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* ------------------------------------------------------------------- */
  /*                                                                     */
  /*                         TAB SPECIFIC STYLES                         */
  /*                                                                     */
  /* ------------------------------------------------------------------- */
}
.sheet.character .window-content header > *,
.sheet.npc .window-content header > * {
  margin-bottom: 5px;
}
.sheet.character .window-content .origins,
.sheet.npc .window-content .origins {
  display: block;
  font-size: 1.2em;
}
.sheet.character .window-content .origins > *,
.sheet.npc .window-content .origins > * {
  display: inline-block;
}
.sheet.character .window-content .derived-traits,
.sheet.npc .window-content .derived-traits {
  display: block;
}
.sheet.character .window-content .derived-traits > *,
.sheet.npc .window-content .derived-traits > * {
  display: inline-block;
}
.sheet.character .window-content .derived-traits > * input,
.sheet.npc .window-content .derived-traits > * input {
  width: 2.5rem;
  height: 1rem;
  text-align: center;
  padding: 0;
}
.sheet.character .window-content .panel,
.sheet.npc .window-content .panel {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  padding: 10px 0 0 10px;
  align-items: center;
  text-align: center;
  overflow: auto;
}
.sheet.character .window-content .panel > *,
.sheet.npc .window-content .panel > * {
  margin-bottom: 5px;
}
.sheet.character .window-content .panel .fate-card,
.sheet.npc .window-content .panel .fate-card {
  flex: 0;
  width: 100%;
  font-size: 14px;
}
.sheet.character .window-content .panel .fate-card .fate-switch,
.sheet.npc .window-content .panel .fate-card .fate-switch {
  flex: 1 1;
  align-items: right;
  text-align: right;
  padding-right: 12px;
}
.sheet.character .window-content .panel .fate-card .fate-title,
.sheet.npc .window-content .panel .fate-card .fate-title {
  text-align: left;
  flex: 2;
}
.sheet.character .window-content .panel .fate-card .fate-list,
.sheet.npc .window-content .panel .fate-card .fate-list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.sheet.character .window-content .panel .fate-card .fate-list > *,
.sheet.npc .window-content .panel .fate-card .fate-list > * {
  border-bottom: 1px solid gray;
  gap: 5px;
}
.sheet.character .window-content .panel .fate-card .fate-list > * :first-child,
.sheet.npc .window-content .panel .fate-card .fate-list > * :first-child {
  text-align: right;
  flex: 1;
}
.sheet.character .window-content .panel .fate-card .fate-list > * :last-child,
.sheet.npc .window-content .panel .fate-card .fate-list > * :last-child {
  text-align: left;
  flex: 2;
}
.sheet.character .window-content .panel .fate-card .fate-list :last-child,
.sheet.npc .window-content .panel .fate-card .fate-list :last-child {
  border: 0;
}
.sheet.character .window-content .body,
.sheet.npc .window-content .body {
  padding: 10px;
  flex: 1;
}
.sheet.character .window-content .skill-lists,
.sheet.npc .window-content .skill-lists {
  align-items: start;
  gap: 8px;
}
.sheet.character .window-content .skill-lists li.item,
.sheet.npc .window-content .skill-lists li.item {
  padding: 1px 0 0 0;
}
.sheet.character .window-content .tab-content.traits .group-row,
.sheet.npc .window-content .tab-content.traits .group-row {
  text-align: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.sheet.character .window-content .tab-content.traits .trait-box,
.sheet.npc .window-content .tab-content.traits .trait-box {
  align-items: center;
}

.sheet.item .tab {
  padding: 10px;
}
.sheet.item .description-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
  border-radius: 6px;
}
.sheet.item .description-editor .editor {
  flex: 1;
}
.sheet.item .summary {
  display: block;
  flex: 0 0 200px;
  margin-right: 4px;
}
.sheet.item .summary .detail {
  display: flex;
  flex-direction: row;
}
.sheet.item .summary .detail :first-child {
  flex: 1 0;
}
.sheet.item .summary .detail :last-child {
  flex: 2;
}
.sheet.item [data-tab=settings] .form-group :not(label) {
  flex: 1;
}
.sheet.item .sheet-header {
  padding: 0 12px;
}

.bar {
  --padding: 2px;
  --height: 24px;
  width: 100%;
  display: grid;
  flex: 0;
  background-color: var(--colour-bar-bg);
  color: var(--colour-bar-input);
  border-radius: calc(var(--height) / 2 + var(--padding));
  padding: var(--padding);
}
.bar > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.bar .fill {
  background-color: rgb(0, 162, 30);
  width: 50%;
  height: var(--height);
  border-radius: calc(var(--height) / 2 + var(--padding));
  transition: width 1s ease-out;
  max-width: 100%;
  min-width: 0%;
}
.bar .fill.blue {
  background-color: rgb(24, 136, 255);
}
.bar .value {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.bar .value > * {
  font-weight: bold;
  padding: 0;
  font-size: 1.2em;
  flex: 1;
}
.bar .value input {
  height: var(--height);
  color: var(--colour-bar-input);
  background: transparent;
  border: 0;
}

.feature-list {
  padding: 0 10px !important;
  list-style-type: none;
}
.feature-list .feature .details {
  transition: height 0.4s ease-in-out;
  transition-delay: 0ms;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
.feature-list .feature.expanded .inner {
  height: 40px;
}
.feature-list .feature .inner {
  padding: 0 10px;
  transition: height 0.4s ease-in-out;
  height: 0px;
}

.newedo#context-menu {
  width: auto;
}

/*# sourceMappingURL=newedo.css.map */
