@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.newedo.sheet {
  --bg-c-primary: white;
  --bg-c-secondary: transparent;
  --bg-c-tertiary: transparent;
  --bg-image: url(/ui/parchment.jpg) repeat;
  --text-colour: black;
  --text-placeholder: darkgrey;
  --text-shadow: 0 0 10px hotpink;
  --text-border: 0;
}
.newedo.sheet [system-theme=dark] {
  --bg-c-primary: rgb(61, 61, 61);
  --bg-c-secondary: rgb(51, 51, 51);
  --bg-c-tertiary: rgb(82, 82, 82);
  --bg-image: none;
  --text-colour: white;
  --text-placeholder: grey;
  --text-shadow: 0 0 10px hotpink;
  --text-border: 0;
}
.newedo.sheet .window-content {
  padding: 0;
}
.newedo.sheet .window-content form {
  display: flex;
  flex: 1;
  background: var(--bg-c-primary, white) var(--bg-image, url(/ui/parchment.jpg)) repeat;
  color: var(--text-colour, black);
}
.newedo.sheet .window-content form select {
  color: var(--text-colour, black);
  background-color: var(--bg-c-primary, transparent);
}
.newedo.sheet .window-content form select option {
  color: var(--text-colour, black);
  background-color: var(--bg-c-primary, transparent);
}
.newedo.sheet .window-content form select optgroup {
  color: var(--text-colour, black);
  background-color: var(--bg-c-tertiary, transparent);
}
.newedo.sheet .window-content form input {
  color: var(--text-colour, black);
  background-color: var(--bg-c-primary, none);
  border: var(--text-border);
}
.newedo.sheet .window-content form input::placeholder {
  color: var(--text-placeholder, lightgray);
}
.newedo.sheet .window-content form input:hover, .newedo.sheet .window-content form input:focus {
  box-shadow: var(--text-shadow);
  cursor: pointer;
}
.newedo.sheet .window-content form textarea {
  color: var(--text-colour, black);
  background-color: var(--bg-c-primary);
  border: var(--text-border, 0);
}
.newedo.sheet .window-content form textarea:hover, .newedo.sheet .window-content form textarea:focus {
  box-shadow: var(--text-shadow);
}
.newedo.sheet .window-content form option {
  color: var(--text-colour, black);
}
.newedo.sheet .window-content form img {
  border: 0;
}
.newedo.sheet .window-content form .tab[data-tab].active {
  display: flex;
  flex: 1;
}
.newedo.sheet .window-content form .sheet-body {
  flex: 1;
  display: flex;
  background-color: var(--bg-c-secondary, gray);
  overflow: auto;
}
.newedo.sheet .window-content form .sheet-tabs {
  border: 0;
  margin: 0;
}
.newedo.sheet .window-content form .sheet-tabs .item.active {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgb(112, 112, 112);
  border-bottom: 0;
  background-color: var(--bg-c-secondary);
}
.newedo.sheet .window-content form .sheet-tabs .item {
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid rgb(112, 112, 112);
  background-color: var(--bg-c-primary);
}
.newedo.sheet a.inline-roll {
  background-color: var(--bg-c-secondary, white);
  color: var(--text-colour, black);
}
.newedo.sheet .rollable:hover, .newedo.sheet .rollable:focus, .newedo.sheet .fate-roll:hover, .newedo.sheet .fate-roll:focus {
  text-shadow: var(--text-shadow, red);
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.newedo {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
}
.newedo .item-form {
  font-family: "Roboto", sans-serif;
}
.newedo .sheet-tabs {
  flex: 0;
}
.newedo .resource-label {
  font-weight: bold;
}
.newedo .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.newedo .items-header > * {
  font-size: 14px;
  text-align: center;
}
.newedo .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.newedo .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.newedo .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.newedo .items-list .item-name {
  flex: 1;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.newedo .items-list .item-name h3, .newedo .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.newedo .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.newedo .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.newedo .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.newedo .items-list .item:last-child {
  border-bottom: none;
}
.newedo .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.newedo .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.newedo .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  border: 2px groove #eeede0;
  font-weight: bold;
}
.newedo .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.newedo .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.newedo .items-list .item-delete {
  flex: 0 0 24px;
}
.newedo .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.newedo .effects .item .effect-source,
.newedo .effects .item .effect-duration,
.newedo .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.newedo .effects .item .effect-controls {
  border: none;
}
.newedo .banner-newedo {
  margin-bottom: 4px;
}
.newedo .character .character-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.newedo .character .character-nav {
  text-align: center;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
}
.newedo .character .character-panel {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 5px;
  max-width: 200px;
  align-items: center;
  overflow: auto;
}
.newedo .character .character-panel .container-armour {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
}
.newedo .character .character-panel .container-armour span {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
}
.newedo .character .character-panel .container-armour span div {
  border: 0;
}
.newedo .character .character-panel .container-armour span div div {
  font-size: 12px;
}
.newedo .character .character-panel .container-armour span div input {
  font-size: 18px;
  height: 18px;
  border: 0;
}
.newedo .character .character-panel .fate-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.newedo .character .character-panel .fate-card .fate-roll {
  font-size: 14px;
}
.newedo .character .character-panel .fate-card .fate-list {
  display: block;
  width: 100%;
  padding: 2px;
}
.newedo .character .character-panel .fate-card .fate-list .fate-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  margin-top: 4px;
}
.newedo .character .character-panel .fate-card .fate-list .fate-item :first-child {
  flex: 1;
  text-align: right;
}
.newedo .character .character-panel .fate-card .fate-list .fate-item :last-child {
  margin-left: 12px;
  text-align: left;
  flex: 2;
}
.newedo .character .character-panel .fate-card .fate-list :last-child {
  border: 0;
}
.newedo .character .sheet-header {
  padding: 10px 10px 10px 0px;
}
.newedo .character .sheet-header .character-name {
  height: 50px;
  flex: 2;
  margin: 0px 4px 4px 0px;
  padding: 4px 8px;
  border: 0;
  font-weight: bold;
  background-color: var(--bg-c-secondary, none);
}
.newedo .character .sheet-header .portrait {
  align-items: center;
  max-width: 150px;
  margin-right: 10px;
}
.newedo .character .sheet-header .portrait .profile-img {
  flex: 0 0 150px;
  margin-right: 10px;
  border-radius: 15px;
  object-fit: cover;
  height: 150px;
  width: 150px;
}
.newedo .character .sheet-header .portrait .hp-bar {
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}
.newedo .character .sheet-header .portrait .hp-bar input {
  border: none;
}
.newedo .character .sheet-header .background {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newedo .character .sheet-header .background input {
  border: 0;
  font-size: 14px;
  height: 16px;
  padding: 0;
}
.newedo .character .sheet-header .list-derived {
  display: inline;
  margin-right: 5px;
}
.newedo .character .tab[data-tab].active {
  padding: 8px;
  overflow: auto;
}
.newedo .character .tab-content {
  flex: 1;
}
.newedo .character .traits-tab .wrap-background {
  display: grid;
  gap: 4px;
  grid-template-areas: "wealth soul" "followers contacts" "status contacts";
}
.newedo .character .traits-tab .wrap-background .container {
  border-radius: 10px;
  padding: 5px;
}
.newedo .character .traits-tab .wrap-background .contacts {
  grid-area: contacts;
}
.newedo .character .traits-tab .wrap-background .wealth {
  grid-area: wealth;
}
.newedo .character .traits-tab .wrap-background .soul {
  grid-area: soul;
}
.newedo .character .traits-tab .wrap-background .followers {
  grid-area: followers;
}
.newedo .character .traits-tab .wrap-background .status {
  grid-area: status;
}
.newedo .character .traits-tab .container-trait-core {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.newedo .character .traits-tab .container-trait-core div {
  border-bottom: 1px solid gray;
}
.newedo .character .traits-tab .container-trait-core div .barrier {
  border: 0;
  margin-left: 10px;
  height: 1px;
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
}
.newedo .character .traits-tab .container-trait-core div input {
  font-size: 36px;
  border: 0;
  margin: 5px 0px 5px 0px;
}
.newedo .character .traits-tab .container-trait-core div span {
  font-size: 12px;
  border: 0;
}
.newedo .character .traits-tab .container-trait-derived {
  min-height: 65px;
  max-height: 65px;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.newedo .character .traits-tab .container-trait-derived span {
  border: 0;
  border-right: 1px solid gray;
}
.newedo .character .traits-tab .container-trait-derived span div {
  border: 0;
}
.newedo .character .traits-tab .container-trait-derived span div .name {
  font-size: 12px;
}
.newedo .character .traits-tab .container-trait-derived span div .score {
  font-size: 18px;
}
.newedo .character .traits-tab .container-trait-derived span div .wrap-mod {
  padding-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid gray;
  font-size: 12px;
}
.newedo .character .traits-tab .container-trait-derived span div .wrap-mod input {
  font-size: 16px;
  height: 18px;
  padding: 0px;
  margin: 0px;
  margin-left: 2px;
  min-width: 0px;
}
.newedo .character .skills-tab .skill-dice-button {
  text-align: center;
  align-items: center;
  flex: 1;
  border-radius: 3px;
  height: 1.1rem;
  padding: 0;
}
.newedo .character .skills-tab .skill-dice-tray {
  flex: 0 0 10rem;
}
.newedo .character .skills-tab .items-list {
  padding: 2px 0;
}
.newedo .character .skills-tab .items-list .item-name {
  flex: 2 1 auto;
  color: var(--text-colour, black);
}
.newedo .character .skills-tab .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "skills-left skills-right";
  width: inherit;
  gap: 0.3rem;
  padding-bottom: 0.3rem;
}
.newedo .character .skills-tab ol,
.newedo .character .skills-tab ul {
  margin: 0;
  padding: 0;
}
.newedo .character .fates-tab .items-list {
  padding: 4px 0;
  color: var(--text-colour, black);
}
.newedo .character .fates-tab .items-list .item {
  height: 2rem;
}
.newedo .character .fates-tab .items-list .item-name {
  flex: 2;
  font-weight: 24px;
}
.newedo .character .fates-tab ol, .newedo .character .fates-tab ul {
  margin: 0;
  padding: 0;
}
.newedo .character .inventory-tab {
  color: white;
}
.newedo .character .biography-tab .tab-wrapper {
  padding: 10px;
  display: grid;
  grid-template-areas: "details details" "personality description" "ambition history" "ideals history" "fears history";
  gap: 10px;
}
.newedo .character .biography-tab .container {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.newedo .character .biography-tab .container textarea {
  border: 0;
  width: 100%;
  height: 100%;
}
.newedo .character .biography-tab .container input {
  border: 0;
  text-align: left;
  padding: 0;
}
.newedo .character .biography-tab .container .label {
  font-weight: bold;
}
.newedo .character .biography-tab .container .barrier {
  height: 1px;
  width: 100%;
}
.newedo .character .biography-tab .details {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}
.newedo .character .biography-tab .details div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newedo .character .biography-tab .details div span {
  text-align: right;
}
.newedo .character .biography-tab .details input {
  margin-left: 4px;
  text-align: left;
  font-size: 15px;
  height: 17px;
  border: 0;
}
.newedo .character .biography-tab .personality {
  grid-area: personality;
}
.newedo .character .biography-tab .description {
  grid-area: description;
}
.newedo .character .biography-tab .ambition {
  grid-area: ambition;
}
.newedo .character .biography-tab .ideals {
  grid-area: ideals;
}
.newedo .character .biography-tab .fears {
  grid-area: fears;
}
.newedo .character .biography-tab .history {
  grid-area: history;
}
.newedo.sheet.item form {
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.newedo.sheet.item form .tab[data-tab].active {
  display: flex;
  padding: 6px;
}
.newedo.sheet.item form .description-tab {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.newedo.sheet.item form .description-tab .summary {
  display: block;
  flex: 0 0 200px;
}
.newedo.sheet.item form .description-tab .summary .detail {
  display: flex;
  flex-direction: row;
}
.newedo.sheet.item form .description-tab .summary .detail :first-child {
  flex: 1 0;
}
.newedo.sheet.item form .description-tab .summary .detail :last-child {
  flex: 1;
}
.newedo.sheet.item form .description-tab .description-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
  background-color: var(--bg-c-primary, transparent);
  border-radius: 6px;
}
.newedo.sheet.item form .description-tab .description-editor .editor {
  flex: 1;
}
.newedo.sheet.item form .settings-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.newedo.sheet.item form .settings-tab input {
  flex: 2;
}
.newedo.sheet.item form .settings-tab select {
  flex: 2;
}
.newedo .icon-trashcan {
  width: 24px;
  height: 24px;
  background-color: hotpink;
  align-items: center;
}
.newedo .switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 24px;
}
.newedo .switch[mode="2"] .slider {
  background-color: #2196F3;
}
.newedo .switch[mode="2"] .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.newedo .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.newedo .switch .slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.newedo .switch .slider.round {
  border-radius: 24px;
}
.newedo .switch .slider.round::before {
  border-radius: 100%;
}

/*# sourceMappingURL=newedo.css.map */
