{{!-- Basic form fields found available on any roll --}}
<div class="form-group">
    <label>{{localize 'NEWEDO.dialog.situationBonus'}}:</label>
    <input type="text" name="bonus" />
</div>
<div class="form-group">
    <label>{{localize 'NEWEDO.Generic.Legend.long'}}:</label>
    <input type="range" name="legend" max="5" min="0" value="0"/>
</div>
<div class="form-group">
    <label>{{localize "NEWEDO.Generic.Wound.plural"}}:</label>
    <input type="checkbox" name="useWound" checked="true" />
    <input type="number" name="wound" disabled value="{{wound.value}}" />
</div>