//general classes
&.character .window-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .panel {
        display: flex;
        flex: 0 0 200px;
        flex-direction: column;
        padding: 10px 0 0 10px;
        align-items: center;
        text-align: center;
        overflow: auto;

        >* {
            // Spacing out the different items
            margin-bottom: 10px;
        }

        .fate-card {
            flex: 0;
            width: 100%;
            font-size: 14px;

            .fate-list {
                width: 100%;
                padding: 0;
                margin: 0;

                >* {
                    border-bottom: 1px solid gray;

                    :first-child {
                        text-align: right;
                    }

                    :last-child {
                        margin-left: 15px;
                        text-align: left;
                        flex: 2;
                    }
                }

                :last-child {
                    border: 0;
                }
            }
        }
    }

    .body {
        padding: 10px;
        flex: 1;
    }

    .skill-lists {
        align-items: start;
        gap: 8px;

        li.item {
            padding: 1px 0 0 0;
        }
    }
}