$bgc_1: blue;
$bgc_2: green;
$bgc_3: purple;
$bgc_4: orange;
$bgc_5: red;
$bgc_6: white;

$traitCore_margin: 10px;
$traitDerived_margin: 5px;

//general classes
.border-rounded {
  border-radius: 5px;
  border: 2px groove gray;
}

.container-trait-core {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  div {
    border-bottom: 1px solid gray;
    .barrier {
      border: 0;
      margin-left: $traitCore_margin;
      background-color: rgb(168, 168, 168);
      height: 1px;
      min-width: calc(100% - ($traitCore_margin*2));
      max-width: calc(100% - ($traitCore_margin*2));
    }
    input {
      font-size: 20px;
      border: 0;
      background-color: transparent;
      margin: 5px 0px 5px 0px;
    }
    span {
      font-size: 12px;
      border: 0;
    }
  }
}

.container-trait-derived {
  min-height: 65px;
  max-height: 65px;
  min-width: 250px;
  max-width: 250px;

  display: flex;
  flex-direction: row;

  text-align: center;

  span {
    border: 0;
    border-right: 1px solid gray;
    div {
      border: 0;
      .name {
        font-size: 12px;
      }
      .score {
        font-size: 18px;
      }
      .wrap-mod {
        padding-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid gray;
        font-size: 12px;

        input {
          font-size: 16px;
          height: 18px;
          padding: 0px;
          margin: 0px;
          margin-left: 2px;

          min-width: 0px;
        }
      }
    }
  }
}

.container-armour {
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 50px;

  display: flex;
  flex-direction: row;

  text-align: center;

  span {
    flex-direction: column;
    border-right: 1px solid gray;
    div {
      border: 0;
      div {
        font-size: 12px;
      }
      input {
        font-size: 18px;
        height: 18px;
        border: 0;
        background-color: transparent;
      }
    }
  }
}

.barrier-gray {
  background-color: rgb(168, 168, 168);
}

//Character sheet header classes
.character-origin {
  .background {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    div {
      border-right: 1px solid gray;
      border-bottom: 0;
      label {
        font-size: 10px;
        padding-bottom: 0px;
        padding-left: 2px;
        margin-bottom: 0px;
      }
      input {
        font-size: 16px;
        height: 18px;
        text-align: center;
        background-color: transparent;
        border: 0;
        box-shadow: none;
      }
    }
  }

  .header-stats {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    flex-direction: row;
    text-align: center;
    
    .health {
      border: 0;
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      .hp-grid {
        border-bottom: 1px solid gray;
        font-size: 20px;
        text-align: center;
        display: grid;
        gap: 2px;
        padding: 2px;
        grid-template-columns: minmax(0, 1fr) 15px minmax(0, 1fr);
        input {
          height: 22px;
          border: 0;
          background-color: transparent;
        }
      }
      .mod-grid
      {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        font-size: 12px;
        .hp-mod {
          border-right: 1px solid gray;
          input {
            height: 14px;
            border: 0;
            background-color: transparent;
          }
        }
        .rest-mod {
          border-right: 1px solid gray;
          input {
            height: 14px;
            border: 0;
            background-color: transparent;
          }
        }
        .size {
          input {
            height: 14px;
            border: 0;
            background-color: transparent;
          }
        }
      }
    }
    .legend {
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      div {
        border: 0;
        font-size: 26px;
        text-align: center;
        align-items: center;
        display: grid;
        gap: 2px;
        padding: 2px;
        grid-template-columns: minmax(0, 1fr) 15px minmax(0, 1fr);
        input {
          height: 28px;
          border: 0;
          background-color: transparent;
        }
      }
    }
    .rank {
      margin: 0;
      padding: 0;

      input {
        font-size: 26px;
        height: 28px;
        border: 0;
        background-color: transparent;
      }

      .exp {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: right;
        div {
          font-size: 12px;
          margin-right: 4px;
        }
        input {
          font-size: 12px;
          text-align: left;
          height: 14px;
          border: 1px solid black;
        }
      }
    }
  }
}
$skill_grid: 30px;

.skill-wrapper {
  display: grid;
  gap: 2px;
  grid-template-columns: 120px $skill_grid $skill_grid $skill_grid $skill_grid $skill_grid;
  font-size: 14px;
  align-items: center;

  border-bottom: 1px solid gray;
  border-right: 1px solid gray;

  .title {
    text-align: right;
    border-right: 1px solid gray;
    padding-right: 4px;
  }
}

.fate-roll {
  font-size: 14px;
}

.skilldice {
  height: 25px;
  margin-left: 2px;
  padding: 0px;
  line-height: 0px;
  text-align: center;
}

.dice-d4 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/skoll/d4.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}

.dice-d6 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-six-faces-six.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}

.dice-d8 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-eight-faces-eight.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}

.dice-d10 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/skoll/d10.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}

.dice-d12 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/skoll/d12.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}

.dice-d20 {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/delapouite/dice-twenty-faces-twenty.svg);
  background-repeat: no-repeat;
  font-size: 0px;
}