//general classes
.character {
    .character-body {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .character-nav {
        text-align: center;
        align-items: center;
        border: 0;
        margin: 0;
        padding: 0;
    }
    // Main character panels, these are always visible
    @import 'character/panel'; // Character sidebard
    @import 'character/header'; //Character header bar
    
    //styling for rendering the active tab, this applies to ALL tabs in the relevant sheet

    .tab-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    // Styling for specific data tabs
    @import 'character/traits';
    @import 'character/skills';
    @import 'character/biography';

    .inventory-tab {
        color: white;
    }

    
}