$c-lightgray: rgb(112, 112, 112); 
$c-gray: rgb(82, 82, 82);
$c-lowgray: rgb(61, 61, 61);
$c-darkgray: rgb(51, 51, 51);

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$c-pink: hotpink;
$c-background: rgb(168, 168, 168);

$bg-image: url(/ui/parchment.jpg)