$c-white: #fff;
$c-lightgray: #bbb;
$c-gray: #434343;
$c-darkgray: #333;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$c-pink: hotpink;
$c-background: rgb(168, 168, 168);

$bg-image: url(/ui/parchment.jpg)