$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

$attr-height: 80;
$attr-width: 70;

//player sheet
$margin-traitCore: 10px;

$border-thin: 1px solid gray;

$skill-grid: 30px;

$shadow-pink: 0 0 10px $c-hover;