<div class="flexrow" style="gap: 10px;">
    <div style="text-align: center;">
        <div>Traits</div>
        <button type="button" data-action="featureTrait" style="text-align: center; width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-hand-fist"></i>
        </button>
    </div>
    <div style="text-align: center;">
        <div>Items</div>
        <button type="button" data-action="featureItem" style="text-align: center; width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-sword"></i>
        </button>
    </div>
    <div style="text-align: center;">
        <div>Effects</div>
        <button type="button" data-action="featureEffect" style="text-align: center; width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-fire"></i>
        </button>
    </div>
</div>