<form autocomplete="off" system-theme="dark">
    NEWEDO.feature.creatorHint: Select the type of feature you wish to create
    <input class="button-trait" name="" type="button" value="Trait">
    <input class="button-attribute" name="" type="button" value="Attribute">
    <input class="button-item" name="" type="button" value="Item">
</form>