<form autocomplete="off" system-theme="dark" style="padding: 8px;">
    {{> "newedo.feature-title"}}
    <div>NEWEDO.helper.config.item{ Items placed here will be given to any actor this item is attached too }</div>
    <div class="drop-target">

        <ol class="items-list">
            <li class="items-header flexrow">
                <h3 class="item-name">NEWEDO.generic.items</h3>
            </li>
            <ol class="item-list">
                {{#each items}}

                    <li class="item flexrow" data-item-uuid="{{uuid}}">
                        <!-- The triple {{{moustache}}} tells handelbars to render this is an html element, instead of raw text -->
                        <div class="item-name">{{{link}}}</div>
                    </li>

                {{/each}}
            </ol>
        </ol>

    </div>
</form>