<form autocomplete="off" system-theme="dark" style="display: flex; flex-direction: column; gap: 5px;">
    <p>NEWEDO.feature.creatorHint: Select the type of feature you wish to create</p>
    <input class="button-trait" name="" type="button" value="{{localize "NEWEDO.feature.trait"}}">
    <input class="button-attribute" name="" type="button" value="Attribute">
    <input class="button-item" name="" type="button" value="{{localize "NEWEDO.feature.item"}}">
    <input class="button-background" name="" type="button" value="{{localize "NEWEDO.feature.background"}}">
</form>