<div class="character" system-theme="{{theme}}" autocomplete="off" style="overflow: hidden; flex-direction: row; padding: 0px; display: flex;">

    <!-- Character important info panel -->
    <div data-application-part="panel"></div>

    <!-- Sheet Body -->
    <section class="character-body">

        <div data-application-part="header"></div>

        <!-- Navigation Tabs -->
        {{> "newedo.tabs-nav"}}

        <!-- Tab Bodies -->
        <section class="sheet-body scrollable">

            <!-- Creates a holder for all the different tabs contents -->
            {{> "newedo.tabs-content"}}
        </section>
    </section>
</div>[]