<!-- Data for loading character skills into the sheet tab -->
<div class="skills-tab tab-content">
    
    <div class="skills-container">
        <ol class="skills-pane-left item-list">

            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Heart</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.hrt as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Power</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.pow as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Reflex</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.ref as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Pressence</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.pre as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

        </ol>
        <ol class="skills-pane-right item-list">
            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Perception</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.per as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

            <div class="collapsible">
                <li class="items-header flexrow collapsible">
                    <span>Savvy</span>
                    <span>Dice</span>
                </li>
                <ol class="items-list">
                    {{#each skills.sav as | skill key |}}
                    <li class="item flexrow" skill-id="{{skill._id}}">
                        <div class="item-name">
                            <a class="skill-rollable" data-roll="{{skill.system.formula}}" data-label="{{skill.name}}">{{skill.name}}</a>
                        </div>
                        <div class="item-detail flexrow skill-dice-tray">
                            {{#each skill.system.ranks as | value index |}}
                                <input class="skill-dice-button" type="button" index="{{index}}" value="{{value}}"/>
                            {{/each}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>

        </ol>
    </div>
</div>