<!-- Newedo banner rendered at the top of the screen-->
<img class="banner-newedo" src="systems/newedo/images/banner-newedo.svg">

<div class="portrait" style="width: 150px; align-items: center; display: flex;">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150px" width="150px" style="object-fit: cover;"/>
</div>

<!-- Health container-->
Hit points
<div style="min-height: 1px; background-color: white; margin: 1px 0px 1px 0px; width: 100%;"></div>
<div style="align-items: center;">
    <div style="display: grid; font-size: 30px; grid-template-columns: 1fr 0.5fr 1fr; text-align: center; align-items: center; height: 30px;">
        <input style="height: 32px;" id="hp-value" type="number" name="system.traits.derived.hp.value" value="{{system.traits.derived.hp.value}}"/>
        <div>/</div>
        <div>{{system.traits.derived.hp.max}}</div>
    </div>
</div>

<!-- Legend container -->
Legend
<div style="min-height: 1px; background-color: white; margin: 1px 0px 1px 0px; width: 100%;"></div>
<div style="align-items: center;">
    <div style="display: grid; font-size: 30px; grid-template-columns: 1fr 0.5fr 1fr; text-align: center; align-items: center; height: 30px;">
        <input style="height: 32px;" id="legend-value" type="number" name="system.legend.value" value="{{system.legend.value}}"/>
        <div>/</div>
        <input style="height: 32px;" id="legend-max" type="number" name="system.legend.max" value="{{system.legend.max}}"/>
    </div>
</div>

<!-- Armour values -->
Armour soaks
<div style="min-height: 1px; background-color: white; width: 100%;"></div>
<div class="container-armour">
    {{#each system.attributes.armour as |soak key|}}
    <span>
        <div>
            <div class="name">{{soak.label}}</div>
            <input type="number" class="score" name="system.attributes.armour.{{key}}.value" value="{{soak.value}}" placeholder="0"/>
        </div>
    </span>
    {{/each}}
</div>

<!-- Character XP tracker -->
<div style="min-height: 1px; background-color: white; width: 100%;"></div>
<div style="display: flex; flex-direction: row; align-items: center;">
    <span>EXP:</span>
    <input style="margin: 4px;" type="number" name="system.attributes.xp.value" value="{{system.attributes.xp.value}}" />
</div>
<div style="min-height: 1px; background-color: white; width: 100%;"></div>

<!-- Fate card container -->
<div class="fate-card">
    <b class="fate-roll" style="font-size: 14px;">Fate Card</b>
    <div class="fate-list">
        <!-- Loops through the characters list of fate card options-->

        {{#each fates as |fate key|}}

        <div class="fate-item">
            <div>{{fate.system.range.max}} / {{fate.system.range.min}}</div>
            <div>{{fate.name}}</div>
        </div>

        {{/each}}

    </div>
</div>