<div class="augments-tab tab-content">
    <!-- Ammount of trait noise the character has gathered -->
    <div>
        Trait Noise
        <div class="flexrow" style="text-align: center; align-items: center;">
            {{#each system.traits.core as | trait key |}}
                <div style="align-items: center; min-width: 70px;">
                    <label for="system.traits.core.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="{{trait.rank}}d10x10" data-label="{{trait.abr}}">{{trait.abr}}</label>
                    <div>{{trait.noise}}</div>
                </div>
            {{/each}}
        </div>
    </div>
    <!-- List of augments the character has -->
    <div>
        <li class="items-header flexrow collapsible">
            <span>Augment</span>
            <span>Noise</span>
            <span>Biofeedback</span>
            <span>Install</span>
        </li>
        <ol class="items-list">
            {{#each augments as | augment key |}}

            <li class="item flexrow" data-item-id="{{augment._id}}">
                <!-- Link to the fate opens up the item sheet -->
                <span class="item-name">
                    <a class="item-edit">{{augment.name}}</a>
                </span>
                <span class="item-detail" style="text-align: center;">
                    {{#if augment.system.noise.pow}} {{augment.system.noise.pow}} Pow {{/if}}
                    {{#if augment.system.noise.ref}} {{augment.system.noise.ref}} Ref {{/if}}
                    {{#if augment.system.noise.hrt}} {{augment.system.noise.hrt}} Hrt {{/if}}
                    {{#if augment.system.noise.per}} {{augment.system.noise.per}} Per {{/if}}
                    {{#if augment.system.noise.pre}} {{augment.system.noise.pre}} Pre {{/if}}
                    {{#if augment.system.noise.sav}} {{augment.system.noise.sav}} Sav {{/if}}
                </span>
                <span class="item-detail">{{augment.system.biofeedback}}%</span>
                <input type="checkbox" class="item-detail aug-install"/>
                {{#if ../editable}}<span class="item-delete"><img class="icon-trashcan" src="systems/newedo/icons/trash-can.svg"></span>{{/if}}
            </li>

            {{/each}}
        </ol>
    </div>
</div>