<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px">
    {{#each system.fatecard.list as | fate key |}}
        <div class="fate-container">

            <div class="fate-header">
                <input type="text" class="title" name="system.fatecard.list.{{key}}.label" value="{{fate.label}}" />
                <input class="fate-delete" fateIndex="{{key}}" type="button"/>
            </div>

            <div class="fate-range">
                <div>Range:</div>
                <input type="number" name="system.fatecard.list.{{key}}.range.top" value="{{fate.range.top}}" />
                <div>/</div>
                <input type="number" name="system.fatecard.list.{{key}}.range.bot" value="{{fate.range.bot}}" />
            </div>
            <textarea name="system.fatecard.list.{{key}}.description" style="width: 100%; height: 100%; resize: none;">{{fate.description}}</textarea>
            
        </div>
    {{/each}}
</div>

<div style="align-items: center;">
    <p>Add new fate</p>
    <input class="fate-new" type="button"/>
</div>