<div class="tab-wrapper">
    {{#with system.biography as | bio key |}}
        <div class="container details">
            <!-- Character details -->
            <div><b>Gender:</b><input type="text" name="system.biography.gender" value="{{bio.gender}}"/></div>
            <div><b>Age:</b><input type="text" name="system.biography.age" value="{{bio.age}}"/></div>
            <div><b>Height:</b><input type="text" name="system.biography.height" value="{{bio.height}}"/></div>
            <div><b>Weight:</b><input type="text" name="system.biography.weight" value="{{bio.weight}}"/></div>
            <div><b>Eyes:</b><input type="text" name="system.biography.eyes" value="{{bio.eyes}}"/></div>
            <div><b>Skin:</b><input type="text" name="system.biography.skin" value="{{bio.skin}}"/></div>
            <div><b>Hair:</b><input type="text" name="system.biography.hair" value="{{bio.hair}}"/></div>
        </div>

        <!-- Personality, apperance -->
        <div class="container personality">
            <div class="label">bio.personality.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.personality" style="width: 100%; height: 100%; resize: none;">{{bio.personality}}</textarea>
        </div>

        <div class="container description">
            <div class="label">bio.description.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.description" style="width: 100%; height: 100%; resize: none;">{{bio.description}}</textarea>
        </div>

        <div class="container history">
            <div class="label">bio.background.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.background" style="width: 100%; height: 100%; resize: none;">{{bio.background}}</textarea>
        </div>

        <div class="container ambition">
            <div class="label">bio.ambition.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.ambition" style="width: 100%; height: 100%; resize: none;">{{bio.ambition}}</textarea>
        </div>

        <div class="container ideals">
            <div class="label">bio.ideal.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.ideal" style="width: 100%; height: 100%; resize: none;">{{bio.ideal}}</textarea>
        </div>

        <div class="container fears">
            <div class="label">bio.fear.label</div>
            <div class="barrier"></div>
            <textarea name="system.biography.fear" style="width: 100%; height: 100%; resize: none;">{{bio.fear}}</textarea>
        </div>
    {{/with}}
</div>