<div class="flexrow">
    <!-- Core traits on the left hand side 
    <div class="container-trait-core border-rounded"> 
        -->
        <!-- Loop through characters core traits and places them in a vertical stack 
        {{#each system.traits.core as |trait key|}}
        <div>
        <label for="system.traits.core.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@traits.core.{{key}}.rank)d10x10" data-label="{{trait.label}}">{{trait.label}}</label>
        <div class="barrier"></div>
        <input type="text" name="system.traits.core.{{key}}.value" value="{{trait.value}}" data-dtype="Number"/>
        <span class="trait-rank rollable" data-roll="(@traits.core.{{key}}.rank)d10x10" data-label="{{trait.label}}">Rank {{numberFormat trait.rank decimals=0 sign=false}}</span>
        </div>
        {{/each}}
    </div>

    -->

    <!-- Derived Stats, armour soak, and fate card -->
    <div style="padding-bottom: 5px;" class="flexcol">
        <!-- Derived stats top bar -->
        <div class="container-trait-derived border-rounded">
        
        {{#each system.traits.derived as |trait key|}}
        <span>
            <div>
            <div class="name">{{trait.label}}</div>
            <div class="score" name="system.traits.derived.{{key}}.value" value="{{trait.value}}">{{trait.value}}</div>
            
            <!-- Modifier container -->
            <div class="wrap-mod">
                <label for="mod-input">Mod</label>
                <input id="mod-input" type="number" name="system.traits.derived.{{key}}.mod" value="{{trait.mod}}" data-dtype="1.0" placeholder="1.0"/>
            </div>
            </div>
        </span>
        {{/each}}
        </div>

        <!-- Armor soaks -->
        <div class="container-armour border-rounded">
        
        {{#each system.attributes.armour as |soak key|}}
        <span>
            <div>
            <div class="name">{{soak.label}}</div>
            <input type="number" class="score" name="system.attributes.armour.{{key}}.value" value="{{soak.value}}" placeholder="0"/>
            </div>
        </span>
        {{/each}}
        </div>

        <!-- FATE CARD! -->
        <div class="border-rounded" style="max-width: 250px;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <!-- Loops through the characters list of fate card options-->
            <b class="fate-roll" style="font-size: 14px;">Fate Card</b>
            {{#each system.fatecard.list as |fate key|}}
            <span style="text-align: center;">
                <div style="display: grid; gap: 2px; grid-template-columns: 25px 15px 25px 100px; border-bottom: 1px solid gray; align-items: center;">
                <div style="margin-right: 2px;">{{fate.range.top}}</div>
                <div>|</div>
                <div style="margin-left: 2px;">{{fate.range.bot}}</div>
                <div style="text-align: left; margin-left: 4px;">{{fate.label}}</div>
                </div>
            </span>
            {{/each}}
        </div>
        </div>

    </div>

    <!-- Backgrounds -->
    <div>
        <div class="border-rounded" style="display: grid; grid-template-columns: repeat(5, 1fr); max-width: 400px; min-width: 400px; text-align: center;">
        {{#each system.background as |background key|}}
        <div style="border-right: 1px solid gray; min-height: 65px; max-height: 65px;">
            <label for="system.background.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@background.{{key}}.rank)d10x10" data-label="{{background.label}}">{{background.label}}</label>
            <div class="barrier"></div>
            <input type="number" name="system.background.{{key}}.value" value="{{background.value}}" data-dtype="Number" placeholder="1"/>
            <span class="trait-rank rollable" data-roll="(@background.{{key}}.rank)d10x10" data-label="{{background.label}}">Rank {{numberFormat background.rank decimals=0 sign=false}}</span>
        </div>
        {{/each}}
        </div>
    </div>
</div>