<div class="portrait">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150px" width="150px"/>
</div>

<div style="display: flex; flex-direction: column;">
    <!-- Character name field-->
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    <!-- Background details -->
    <div class="background">
        <input id="bio-lineage" name="system.biography.lineage" type="text" value="{{system.biography.lineage}}" placeholder="species"/>
        <input id="bio-culture" name="system.biography.culture" type="text" value="{{system.biography.culture}}" placeholder="culture"/>
        <input id="bio-faction" name="system.biography.faction" type="text" value="{{system.biography.faction}}" placeholder="faction"/>
        <input id="bio-path" name="system.biography.path" type="text" value="{{system.biography.path}}" placeholder="path"/>
    </div>
    <div style="height: 1px; background-color: white; margin: 1px 0px 1px 0px;"></div>
    <!-- Derived stats? -->
    <div class="list-derived">
        {{#each system.traits.derived as | trait key |}}
            <span>&#x2022 <b>{{trait.label}}:</b> {{trait.value}}</span>
        {{/each}}
    </div>

    <div style="height: 1px; background-color: white; margin: 1px 0px 1px 0px;"></div>
    <!-- Core Stats -->
    <div class="flexrow" style="align-items: center; text-align: center;">
        {{#each system.traits.core as | trait key |}}
            <div style="align-items: center;">
                <label for="system.traits.core.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@traits.core.{{key}}.rank)d10x10" data-label="{{trait.abr}}">{{trait.abr}}</label>
                <input name="system.traits.core.{{key}}.value" value="{{trait.value}}" type="number" />
                <div class="trait-rank rollable" data-roll="(@traits.core.{{key}}.rank)d10x10" data-label="{{trait.label}}">Rank {{numberFormat trait.rank decimals=0 sign=false}}</div>
            </div>
        {{/each}}
    </div>
</div>