<form class="roll-dialog-default" system-theme="dark">
    <div class="form-group">
        <label>Formula:</label>
        <input type="text" name="formula" value="{{formula}}" />
    </div>
    {{> "newedo.roll-options" }}
</form>