<form class="roll-dialog-rote">
    <div class="form-group">
        <label>{{localize "NEWEDO.trait.core.shi"}}:</label>
        <input type="text" name="trait" disabled value="{{shi.rank}}d10"/>
    </div>
    <div class="form-group">
        <label>Skill:</label>
        <input type="text" name="trait" disabled value="{{skill.formula}}"/>
    </div>
    {{> "newedo.roll-options" }}
</form>