<form class="weapon-damage">
    <div class="form-group">
        <label>{{localize 'NEWEDO.generic.damage'}}:</label>
        <input type="text" name="damage" disabled value="{{formula.dmg}}"/>
    </div>
    {{> "newedo.roll-options" }}
</form>