<form class="weapon-attack">
    <div class="form-group">
        <label>{{localize 'NEWEDO.generic.trait'}}:</label>
        <input type="text" name="trait" disabled value="{{skill.trait.rank}}d10"/>
    </div>
    <div class="form-group">
        <label>{{localize 'NEWEDO.generic.skill'}}:</label>
        <input type="text" name="trait" disabled value="{{skill.diceFormula}}"/>
    </div>
    {{> "newedo.roll-options" }}
</form>