<form class="roll-dialog-skill">
    <div class="form-group">
        <label>Trait [{{item.system.trait}}]:</label>
        <input type="number" name="trait" value="{{trait.value}}" placeholder="Value"/>
    </div>
    <div class="form-group">
        <label>Skill Dice:</label>
        <input type="text" name="skill" value="{{formula}}" placeholder=""/>
    </div>
    <div class="form-group">
        <label>Wound Penalty:</label>
        <input type="checkbox" name="wounds"/>
    </div>
    <div class="form-group">
        <label>Spend Legend:</label>
        <input type="number" name="legend" value="0" max="5" min="0"/>
    </div>
</form>