// For now, these styles only apply to actor and item sheets
.sheet.actor,
.sheet.item {
    // Controls the displaying of the active tab
    .tab[data-tab].active {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    //Removes padding from
    .window-content {
        padding: 0;
    }
}