.window-app {
  font-family: $font-primary;
}

.window-app.newedo.actor.sheet {
  
  
  .window-content {
    padding: 0;
    background-image: none;
    color: white;
    background-color: $c-gray;
  }

  .sheet-body {
    background-color: $c-darkgray;
  }
}

.rollable {
  &:hover,
  &:focus {
    text-shadow: $shadow-pink;
    cursor: pointer;
  }
}