<form class="{{cssClass}} {{actor.type}}" autocomplete="off" style="overflow: hidden; display: flex; flex-direction: column;">

  <!-- Sheet Headers -->
  <header class="sheet-header" style="margin: 0;">
    {{> "systems/newedo/templates/actor/character/player-header.html"}}
  </header>

  <!-- Tab Navigation -->
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary" style="text-align: center; align-items: center; border: 0; margin: 0; padding: 0px 10px 0px 10px;">
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="fates">Fates</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="augs">Augments</a>
    <a class="item" data-tab="magic">Magic</a>
    <a class="item" data-tab="bio">Biography</a>
    <a class="item" data-tab="journal">Journal</a>
  </nav>

  <!-- Tab Bodies -->
  <section class="sheet-body" style="overflow: auto">

    <!-- TRAITS TAB-->
    <div class="tab traits" data-group="primary" data-tab="traits">
      {{> "systems/newedo/templates/actor/character/player-traits.html"}}
    </div>

    <!-- SKILLS TAB -->
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/newedo/templates/actor/character/player-skills.html"}}
    </div>

    <!-- FATES TAB -->
    <div class="tab fates" data-group="primary" data-tab="fates">
      {{> "systems/newedo/templates/actor/character/player-fates.html"}}
    </div>

    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "systems/newedo/templates/actor/character/player-bio.html"}}
    </div>

    <div class="tab journal" data-group="primary" data-tab="journal">

    </div>
    
  </section>
</form>

