<form class="{{cssClass}} {{actor.type}}" system-theme="{{theme}}" autocomplete="off" style="overflow: hidden; flex-direction: row; padding: 0px">

  <!-- Character important info panel -->
  <section class="character-panel">
    {{> "newedo.character-panel"}}
  </section>

  <!-- Sheet Body -->
  <section class="character-body">

    <header class="sheet-header">
      {{> "newedo.character-header"}}
    </header>

    <!-- Navigation Tabs -->
    {{> "newedo.character-tabs"}}

    <!-- Tab Bodies -->
    <section class="sheet-body">

        {{> "newedo.character-traits"}}

        {{> "newedo.character-skills"}}

        {{> "newedo.character-bio"}}

        {{> "newedo.character-equipment"}}

        {{> "newedo.character-magic"}}

        {{> "newedo.character-augs"}}
      
    </section>
  </section>
</form>

