<div class="tab-content">
    {{toFieldGroup system.schema 'soak.kin' value=system.soak.kin}}
    {{toFieldGroup system.schema 'soak.ele' value=system.soak.ele}}
    {{toFieldGroup system.schema 'soak.bio' value=system.soak.bio}}
    {{toFieldGroup system.schema 'soak.arc' value=system.soak.arc}}
</div>