<div class="tab-content">
    {{formGroup (getField system.schema 'soak.kin') label=(localize config.damage.kin) value=system.soak.kin}}
    {{formGroup (getField system.schema 'soak.ele') label=(localize config.damage.ele) value=system.soak.ele}}
    {{formGroup (getField system.schema 'soak.bio') label=(localize config.damage.bio) value=system.soak.bio}}
    {{formGroup (getField system.schema 'soak.arc') label=(localize config.damage.arc) value=system.soak.arc}}
</div>