<div class="tab-content">
    <div style="display: inline-flex;">
        <label>Range:</label>
        <input type="number" name="system.range.max" value="{{system.range.max}}" placeholder="Max" />
        <div>/</div>
        <input type="number" name="system.range.min" value="{{system.range.min}}" placeholder="Min" />
    </div>
    <div style="display: inline-flex;">
        <label>Source:</label>
        <input type="text" name="system.source" value="{{system.source}}" placeholder="Origin of this fate" />
    </div>
    <div>
        <label>Locked:</label>
        <input type="checkbox" value="{{system.locked}}" />
    </div>
</div>