<div class="tab-content">
    <div class="flexrow" style="border: 2px groove white; padding: 8px;">
        <div style="text-align: left;">Name</div>
        <a style="text-align: right;" data-action="createFeature">Add Feature</a>
    </div>
    <ol class="feature-list">
        {{#each features as | feature key | }}
            <li class="feature" data-feature-id="{{key}}">
                <div class="header flexrow">
                    <a data-action="collapse">{{feature.label}}</a>
                    <span>{{feature.type}}</span>
                    <span>Rank: {{feature.unlock}}</span>
                    <span class="flexrow" style="flex: 0 0; flex-wrap: nowrap; gap: 5px;">
                        <a style="flex: 1;" data-action="editFeature"><i class="fas fa-edit"></i></a>
                        {{#if ../isEditMode}}<a style="flex: 1;" data-action="deleteFeature"><i class="fas fa-trash"></i></a>{{/if}}
                    </span>
                </div>
                <div class="details">
                    <div class="inner">Details go here</div>
                </div>
            </li>
        {{/each}}
    </ol>
</div>