.sheet-header {
    padding: 10px 10px 5px 0px;

    .character-name {
        height: 40px;
        flex: 2;
        margin: 0px 4px 4px 0px;
        padding: 4px 8px;
        border: 0;
        font-weight: bold;
    }

    .portrait {
        align-items: center;
        max-width: 150px;
        margin-right: 10px;

        .profile-img {
            margin-right: 10px;
            border-radius: 15px;
            object-fit: cover;
            height: 150px;
            width: 150px;
        }
    }

    .list-derived {
        display: inline;
        margin-right: 5px;
    }
}