.skills-tab {
    .skill-dice-button {
        text-align: center;
        align-items: center;
        flex: 1;
        border-radius: 3px;

        height: 1.1rem;

        padding: 0;
    }

    .skill-dice-tray {
        flex: 0 0 10rem;
    }

    .items-list {
        padding: 2px 0;

        .item-name {
            flex: 2 1 auto;
            color: var(--text-colour, black);
        }
    }

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "skills-left skills-right";
        width: inherit;
        gap: 0.3rem;
        padding-bottom: 0.3rem;
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
    }
}