<section class="body">
    <div data-application-part="header"></div>

    {{> "newedo.tabs-nav"}}

    <section class="sheet-body scrollable">
        {{> "newedo.tabs-content"}}
    </section>
</section>