.switch {
    display: inline-block;
    position:relative;
    width: 60px;
    height: 24px;
    &[mode="2"]{ 
        .slider {
            background-color: #2196F3;
            &::before{
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &::before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    
        &.round {
            border-radius: 24px;
            &::before {
                border-radius: 100%;
            }
        }
    }
}

