<div class="description-tab">
    <div class="item-summary">

    </div>
    <div class="description-editor">
        {{editor richDescription target="system.description" button=true editable=editable engine="prosemirror" collaborate=false height=100}}
    </div>
</div>