<header class="sheet-header" style="padding: 8px 12px;">
    <img class="profile-img" data-action="editImage" src="{{document.img}}" title="{{name}}" />
    <div class="header-fields">
        <h1 class="charname">
            <input style="background-color: transparent; font-size: 0.7em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
    </div>
</header>