<form class="{{cssClass}} {{item.type}}" system-theme="{{theme}}">
    
    {{> 'newedo.item-header'}}

    <section class="sheet-body" style="overflow: auto; padding: 6px; height: 1fr;">
        <div class="tab description" data-group="primary" data-tab="description">
            
            <div class="description-tab">
                <div class="summary">
                    <!-- Details pannel on left hand side -->
                    <div>Faction: Unaligned</div>
                    <div>Skills: 1d8</div>
                    <div>Backgrounds: Soul, Contacts</div>
                    <div>Equipment: Q1, Q2</div>
                </div>
                <div class="description-editor">
                    <!-- description on the right -->
                    {{editor itemDescriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
                </div>
            </div>

        </div>
        
        <div class="tab settings" data-group="primary" data-tab="settings">

            <div class="settings-tab">
                <label>Advancement</label>
            </div>

        </div>
    </body>
</form>