<form class="{{cssClass}} {{item.type}}" autocomplete="off" system-theme="dark">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  <!-- Sheet Tab Navigation -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="settings">Settings</a>
  </nav>

  <!-- Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="description-tab">
        <div class="summary">

          <div class="detail">
            <div>Kami:</div>
            <div>{{system.kami}}</div>
          </div>
          <div class="detail">
            <div>Tier:</div>
            <div>{{system.tier.value}}</div>
          </div>
          <div class="detail">
            <div>Legend Cost:</div>
            <div>{{system.cost}}</div>
          </div>
          <div class="detail">
            <div>Range:</div>
            <div>{{system.range}}m</div>
          </div>

        </div>
        <div class="description-editor">
          {{editor itemDescriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
        </div>
      </div>
    </div>

    <!-- Settings Tab -->
    <div class="tab settings" data-group="primary" data-tab="settings">
      <div class="settings-tab">

      </div>
    </div>
  </section>
</form>
