<div class="tab-content" style="display: flex; flex-direction: column;">
    <div class="form-group">
        <label style="flex: 1;">UUID:</label>
        <input style="flex: 3;" type="text" disabled value="{{document.uuid}}" />
    </div>
    <div class="form-group">
        <label style="flex: 1;">Slug:</label>
        <input style="flex: 3;" type="text" name="system.slug" disabled value="{{system.slug}}" />
    </div>
    <div class="form-group">
        <label style="flex: 1;">Owner:</label>
        <input style="flex: 3;" type="text" disabled value="{{actor.uuid}}" />
    </div>
</div>