//details for the header container
.sheet-tabs {
    .item.active {
        background-color: $c-darkgray;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid $c-lightgray;
        border-bottom: 1px none $c-lightgray;
    }

    .item {
        border-radius: 0px;
        border: 1px none $c-lightgray;
        border-bottom: 1px solid $c-lightgray;
    }
}
//Character sheet header classes

    
.sheet-header {
    flex: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    h1.charname {
        height: 50px;
        padding: 0px;
        border-bottom: 0;
        input {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: transparent;
            color: white;
            border: 0;
            font-weight: bold;
        }
    }

    padding: 10px;
    .portrait {
        align-items: center;
        max-width: 150px;
        margin-right: 10px;
        .profile-img {
            flex: 0 0 150px;
            margin-right: 10px;
            border-radius: 15px;
            object-fit: cover;
            height: 150px;
            width: 150px;
        }
        .hp-bar {
            align-items: center;
            text-align: center;
            border: 1px solid black;
            border-radius: 15px;
            input {
                border: none;
                background-color: transparent;
            }
            .fill {
                background-color: #55cb53;
            }
        }
    }
    .background {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
            border: 0;
            color: white;
            background-color: transparent;
            font-size: 14px;
            height: 16px;
            padding: 0;
        }
    }
    .list-derived {
        display: inline;
        margin-right: 5px;
    }
}