.sheet-body .tab.fates {
    padding: 20px;
    .fate-new {
        background-image: url(../assets/images/icon-check-mark.svg);
        width: 40px;
        height: 40px;
    }

    .fate-delete {
        background-image: url(../assets/images/icon-trashcan.svg);
        width: 26px; 
        height: 26px;
    }

    .fate-range {
        display: grid;
        grid-template-columns: 40px 40px 20px 40px;
        gap: 4px;
        align-items: center;
        text-align: center;
    }

    .fate-container {
        min-height: 200px;
        max-height: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: $c-gray;
        border-radius: 15px;

        .fate-header {
            display: grid;
            grid-template-columns: 1fr 26px;

            .title {
                border: 0;
                font-size: 18px;
                height: 26px;
                background-color: transparent;
                font-weight: bold;
                color: white;
            }

            input {
                color: white;
                border: 0;
            }
        }
    } 
}